header {
  background: #444;
}
main{
    width: 100%;
}
header ul {
  float: right;
  margin: 43px 10px;
  width: 600px;
  text-align: center;
}
header ul li {
  display: inline;
  margin: 0 36px;
}

header img {
  margin: 17px;

  color: black;
}
a {
  color:#858585;
  text-decoration: none;
  font-weight: bold;
}
main img{
    width: 960px;
    height: 450;
    margin: 0px 195px;
}
